/* Variables */
:root {
  /* Colors */
  --color-background-dark: #373a3c;
  --color-background-light: #f4f4f4;
  --color-text-dark: var(--color-background-dark);
  --color-text-darkgrey: #444;
  --color-text-medgrey: #888;
  --color-white: #fff;
  --color-lightgrey: #ccc;
}

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Tags */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: var(--color-background-light);
  max-width: 1200px;
  min-width: 400px;
  margin: auto;
}

main {
  box-shadow: 30px 0px 30px rgba(0, 0, 0, 0.1),
    -30px 0px 30px rgba(0, 0, 0, 0.1);
}

section {
  padding: 50px 0;
}

h1,
h2,
strong,
a {
  color: var(--color-text-dark);
}

h3,
h4 {
  color: var(--color-text-medgrey);
}

p {
  color: var(--color-text-dark);
  line-height: 1.3;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.section-style1 {
  background-color: var(--color-white);
}

.section-style2 {
  background-color: var(--color-background-light);
}

.section-heading {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 50px;
}

.section-subheading {
  font-size: 1.25rem;
}

/* Header */
header {
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: min(100%, 1200px);
  z-index: 10;
  background-color: var(--color-background-dark);
  padding: 15px 20px;
}

/* Header: Nav */
header .nav-items {
  padding: 0;
}

header .nav-link {
  display: block;
  color: var(--color-white);
  font-size: 1.25rem;
  margin-left: 25px;
}

header .nav-link:after {
  display: block;
  content: "";
  width: 0px;
  height: 2px;
  margin: 2px auto 0;
  transition: width 0.5s ease;
}

header .nav-link:hover:after {
  width: 100%;
  background-color: var(--color-white);
}

/* Landing Section */
#landing {
  padding: 0;
}

#landing .landing-intro {
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100vh;
  padding: 0 20px;
}

#landing h1 {
  font-size: 2.7rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#landing h3 {
  font-size: 1.25em;
  text-transform: capitalize;
}

#landing h3 span {
  font-weight: 100;
}

#landing .btn {
  display: inline-block;
  border: 1px solid var(--color-lightgrey);
  border-radius: 25px;
  font-weight: 700;
  margin-top: 1.5rem;
  padding: 1em 3em;
  transition: background-color 0.75s ease;
}

#landing .btn:hover {
  background-color: var(--color-background-light);
}

#landing .landing-image {
  /* Photo credit: Photo by Alexandru Acea on Unsplash*/
  background-image: url(../img/code-desk-medium.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 55%;
  height: 100vh;
  z-index: 1;
}

/* About Me Section */
.section-image-container {
  flex: 0 1 45%;
  justify-content: center;
  align-items: center;
}

/* .about-me-content */
#about-me .section-content img {
  display: inline-block;
  width: 50%;
  height: auto;
  border-radius: 0 0 0 25px;
}

.section-text {
  flex: 1 0 55%;
  justify-content: center;
  padding-right: 40px;
}

.section-text p {
  padding-top: 10px;
  line-height: 1.5;
}

.section-text .profile-links a {
  display: inline-block;
  margin-right: 12px;
  padding-top: 10px;
}

/* Work Section */
.grid-works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Project Card */
.project {
  background-color: var(--color-background-light);
  padding: 1rem;
}

.project .project-image {
  position: relative;
}

.project .project-image img {
  border: none;
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 200px;
  transition: opacity 0.5s;
}

.project .project-image img:hover {
  opacity: 0.6;
}

.project h5 {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 0;
  background-color: var(--color-text-darkgrey);
  color: var(--color-white);
  border: none;
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

.project-text {
  margin-top: 20px;
}

.project p {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

.project ul {
  list-style-type: "\2013\00a0\00a0";
  margin-bottom: 1rem;
}

.project li {
  color: var(--color-text-darkgrey);
  font-size: 0.9rem;
  line-height: 1.5;
}

.project .project-links {
  gap: 1rem;
  margin-top: auto;
}

.project .btn {
  display: inline-block;
  border-radius: 25px;
  text-align: center;
  width: 150px;
  padding: 0.5em 0.5em;
  transition: box-shadow 0.5s ease-out;
}

.project .btn:hover {
  box-shadow: 0 0 10px 0 var(--color-text-medgrey);
}

.project .btn-fill {
  background-color: var(--color-text-darkgrey);
  color: var(--color-white);
  border: none;
  font-weight: 700;
}

.project .btn-outline {
  border: 1px solid var(--color-lightgrey);
}

.project.full {
  grid-column: 1/3;
}

.project.full .project-image img {
  height: 300px;
}

/* Contact Section */
#contact .section-content img {
  display: inline-block;
  width: 90%;
  height: auto;
  border-radius: 25px;
}

#contact .section-image-container {
  flex-basis: 50%;
}

#contact .section-text {
  flex-basis: 50%;
  padding-left: 40px;
}

/* Media Queries */
@media screen and (max-width: 880px) {
  /* Tags */
  h2 {
    text-align: center;
    padding-left: 0;
  }

  /* Landing Section */
  #landing {
    flex-direction: column;
  }

  #landing .landing-intro {
    width: 100%;
    height: 40vh;
    padding: 0 10px;
    text-align: center;
  }

  #landing .landing-text {
    position: relative;
    transform: translateY(28px);
  }

  #landing .landing-image {
    width: 100%;
    height: 60vh;
  }

  /* About Me Section */
  .section-content .section-image-container {
    flex-basis: 30%;
  }

  #about-me .section-content img {
    width: 80%;
  }

  .section-text {
    padding-right: 20px;
  }

  /* Contact Section */
  #contact .section-text {
    padding-left: 20px;
  }
}

@media screen and (max-width: 550px) {
  /* Landing Section */
  #landing h1 {
    font-size: 2.3rem;
  }

  #landing h3 {
    font-size: 1rem;
  }

  #landing .btn {
    padding: 0.5rem 2rem;
    font-size: 1em;
  }

  /* About me Section */
  .section-content {
    flex-direction: column;
  }

  #about-me .section-content img {
    width: 50%;
  }

  .section-text {
    padding-left: 20px;
  }

  .section-content h4 {
    text-align: center;
    padding-top: 20px;
  }

  .section-text .profile-links {
    text-align: center;
  }

  /* Work Section */
  .grid-works {
    grid-template-columns: 1fr;
  }

  .project.full {
    grid-column: 1/2;
  }

  .project .project-links {
    justify-content: center;
  }

  /* Contact Section */
  #contact .section-image-container {
    display: none;
  }

  #contact .section-text {
    text-align: center;
  }

  #contact .section-text h4 {
    padding-top: 0;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
